*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background-color: lightsalmon;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

#score{
    padding: 10px;
    font-size: 30px;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}